<div class="row mb-3">
  <div class="col-md-8 offset-md-2">    
    <h1>
      Add a new review
    </h1>
  </div>
</div>


<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <form action="/create_review" method="post">

      <div class="form-group">
        <label for="body">
          Write your review here!
        </label>
    
        <input type="text" id="body" name="body" class="form-control" placeholder="Start writing a review...">
      </div>
    
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    
      <div class="form-group">
        <label for="beans_id">
          Bean
        </label>
    
        <%= select_tag("beans_id", options_from_collection_for_select(Bean.all, :id, :country_of_origin), :class => "form-control") %>
      </div>
    
      <button class="btn btn-block btn-outline-secondary">
        Create review
      </button>
    </form>
    
    <hr>
    
    <a href="/reviews">
      Go back
    </a>
  </div>
</div>